/* table style ensuring full-width with customized borders and proper alignment */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse:collapse;
    border:1px solid #ddd;
    text-align:center;
    margin:5px 0;
    padding:5px;
}

/* table header style */
thead {
    background-color:#f5f5f5;
}